---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  {%- include title.html -%}

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  {% assign image_dir = page.path | split: '/' | last | split: '.' | first %}

  <div class="post-content e-content" itemprop="articleBody">
    Gallery of all pictures (Click to expand):
  </div>

  <div class="gallery-container">
    {% for image in site.static_files %}
      {% if image.path contains image_dir %}
        {% unless image.path contains "thumbnail" %}
          <img class="gallery-image" src="{{ image.path }}" hidden=true />
        {% endunless %}
      {% endif %}
    {% endfor %}

    <div class="gallery-expand" onclick="clearTarget()">
      <img class="gallery-expand-target" src=""/>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <script type="text/javascript">
    var captions = {}
    {% for caption in page.captions %}
      captions["{{caption.name}}"] = "{{caption.text}}"
    {% endfor %}
    {%- include js/gallery.js -%}
  </script>
</article>
